@font-face {
    font-family: 'HelveticaNeue57Cn';
    src: url('../fonts/HelveticaNeueW01-57Cn.eot');
    src: url('../fonts/HelveticaNeueW01-57Cn.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeueW01-57Cn.woff') format('woff'),
        url('../fonts/HelveticaNeueW01-57Cn.ttf') format('truetype'),
        url('../fonts/HelveticaNeueW01-57Cn.svg#HelveticaNeue57Cn') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {box-sizing: border-box;list-style-type: none}
html,body {margin: 0px;padding: 0px;border: 0px;font-family: "HelveticaNeue57Cn",Helvetica,Arial,sans-serif;}
img {max-width: 100%;height: auto;vertical-align: middle;} 
sup {font-size: 55%}
.lj-loading {position: absolute;left:0;right: 0;top:50%;transform: translateY(-50%);text-align: center;}
.lj-loading.off {display: none}

.lj-top-nav {text-align: center;background: url(../img/top-nav-bg.jpg) repeat-x}
.li-banner-container > img {width: 1366px;position: relative;left: 50%;transform: translateX(-50%);max-width: none;}
.lj-gifting-container {max-width: 1366px;margin: auto;}
.li-banner-container{max-width: 1366px;margin: auto;text-align: center;padding: 0 0 10px;overflow: hidden;}
.lj-gifts-content {position: relative;}
.lj-side-nav {position: absolute;z-index: 99;top:10%;left:0;display: none;top:50%;transform: translateY(-50%);width:26%}
.lj-side-nav.active {display: table}
.lj-side-nav > * {display: table-cell; vertical-align: middle}
.lj-sidebar {background-color: #001f32;width:18%}
.lj-sidebar > img {max-width: 90%;}
.lj-side-menu {padding: 0 5px;width: 75%;margin: auto;}
.lj-side-menu > li {padding: 5px 0;}
.lj-side-menu > li:first-child {padding-top: 0}
.lj-side-menu > li:last-child {padding-bottom: 0}
.lj-side-menu > li > a {display: block;padding:5px;background:#f5cbd5;position: relative;height: 50px;/*width: 50px;*/ -webkit-transition: width 0.3s; /* For Safari 3.1 to 6.0 */transition: width 0.3s;outline:0;}
.lj-side-menu > li > a span{color:#000;font-size: 24px;}
.lj-side-menu > li > a:after {content: "";position: absolute;right: -23px;top: 0;bottom: 0;border-left: 24px solid #f5cbd5;border-top: 23px solid transparent;border-bottom: 27px solid transparent;}
.lj-side-menu > li > a:hover,.lj-side-menu > li > a.active {background: #f22e78;}
/*new css */
/*.lj-side-menu > li.yogi > a:hover,.lj-side-menu > li.yogi > a.active {width:150px;}
.lj-side-menu > li.style > a:hover,.lj-side-menu > li.style > a.active {width:150px;}
.lj-side-menu > li.travel > a:hover,.lj-side-menu > li.travel > a.active {width:150px;}
.lj-side-menu > li.cardio > a:hover,.lj-side-menu > li.cardio > a.active {width:150px;}
.lj-side-menu > li.bra > a:hover,.lj-side-menu > li.bra > a.active {width:150px;}
.lj-side-menu > li.collections > a:hover,.lj-side-menu > li.collections > a.active {width:150px;}*/
/*.lj-side-menu > li.collections > a:hover span, .lj-side-menu > li.collections > a.active span{top:7px;line-height: 18px;height: 40px;}*/

.lj-side-menu > li > a:hover:after,
.lj-side-menu > li > a.active:after
 {border-left-color: #f22e78;}
.lj-side-menu > li > a:hover span,.lj-side-menu > li > a.active span{display: inline-block;left: 44px;position: absolute;margin-top: 0;top: 7px;width: 100%;line-height: 30px;overflow: hidden;color:#FFF;}
.lj-side-menu > li > a:hover span br, .lj-side-menu > li > a.active span br{line-height: 0;}
.lj-side-menu > li > a i {background: url(../img/menu-sprite-new.png) no-repeat; width: 36px;height:36px;display: inline-block;vertical-align: middle;}
.lj-side-menu > li > a i.icon-yogi {background-position: 0 0}
.lj-side-menu > li > a:hover i.icon-yogi,
.lj-side-menu > li > a.active  i.icon-yogi{background-position: -40px 0}
.lj-side-menu > li > a i.icon-style {background-position: -80px 0}
.lj-side-menu > li > a:hover i.icon-style,
.lj-side-menu > li > a.active i.icon-style{background-position: -113px 0}
.lj-side-menu > li > a i.icon-travel {background-position: -149px 0}
.lj-side-menu > li > a:hover i.icon-travel,
.lj-side-menu > li > a.active i.icon-travel {background-position: -186px 0}
.lj-side-menu > li > a i.icon-cardio {background-position: -230px 0}
.lj-side-menu > li > a:hover i.icon-cardio,
.lj-side-menu > li > a.active i.icon-cardio{background-position: -272px 0}
.lj-side-menu > li > a i.icon-braedit {background-position: -313px 0}
.lj-side-menu > li > a:hover i.icon-braedit,
.lj-side-menu > li > a.active i.icon-braedit {background-position: -352px 0}
.lj-side-menu > li > a i.icon-fit {background-position: -395px 0}
.lj-side-menu > li > a:hover i.icon-fit,
.lj-side-menu > li > a.active  i.icon-fit{background-position: -430px 0}
.lj-side-menu > li > a i.icon-gift {background-position: -540px 0}
.lj-side-menu > li > a:hover i.icon-gift ,
.lj-side-menu > li > a.active i.icon-gift{background-position: -585px 0}
.lj-category-article {position: absolute; left: 4%;z-index: 2;max-width: 300px;top:57%;transform: translateY(-50%)}
.lj-popup-overlay{position: absolute;top: 0;left: 0;right: 0;bottom: 0;opacity: 0.85;background: #000;display: none;z-index:9;}
.lj-category-article > img {margin-bottom: 10px}
.lj-category-article p {font-size: 18px; color: #393939}
.lj-category-item:before {content: "";position: absolute;left: 0;right: 0;top: 0;bottom: 0;background: rgba(0,0,0,0.05);}

.lj-gift-item,.lj-category-item {display:block}
/* .lj-gift-item:first-child,.lj-category-item:first-child {display:block}  */

.lj-gifting-container .slick-slide img {display: inline-block;}
.lj-gifting-container .slick-slide {outline: none !important;}
.lj-gifting-container .slick-dotted.slick-slider {margin: 0;}
.lj-category-slider .slick-dots{width:auto;bottom: 8px;left: 0;right: 0;max-width: 600px;margin: auto;font-size:0}
.lj-category-slider .slick-dots li button{width: 20px;height: 6px;min-width:auto}
.lj-category-slider .slick-dots li{display: inline-block;margin: 0 auto;padding: 5px;width:auto;height: auto}
.lj-category-slider .slick-dots li button{background-color:rgba(140,140,140,1);padding: 0px;margin: 0 auto;}
.lj-category-slider .slick-dots li button:before {display: none}
.lj-category-slider .slick-dots li.slick-active button {background: rgba(237,43,143,0.9);}

.inner_wrap img { border: 0 none;vertical-align: top; }


/*hotpost section*/
.lj-hotspot{
    position: absolute;
    right: 0;
    top: 0;
    width: 80%;
    height: 100%;
}
.lj-gift-item{
    position: relative;
}
.lj-hs-content{
    width: auto;
    height: auto;
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;transform: translate(-50%,-50%);
    z-index: 9
}
.lj-hotspot .lj-hs-content.cover{
    right: inherit;
    left: 16%;
}
.lj-hotspot .lj-hs-content.lj-alt{
    /*background: url(../img/popup-arrow-1.png) no-repeat right bottom;*/
    right: -50px;
    top: -250px;
}
.lj-hotspot .lj-hs-content.lj-alt-down{
    /*background: url(../img/popup-arrow-2.png) no-repeat right top;*/
    right: -50px;
    top: 0;
}
.lg-hs-image{
    width: 360px;
    height: auto;
    background: #fff;
    position: relative;
    overflow: hidden;
    z-index: 9999;
    padding: 2px;
}
.lg-hs-image:hover .lg-hs-text{display: block;bottom: 0;}
.lg-hs-close {background: #fff;right: -1px;top: -1px;padding:5px 10px;position: absolute;text-align: center;cursor:pointer;display: none;}
.lg-hs-text{
    position: absolute;
    bottom: -200px;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background: rgba(254,254,254,0.7);
    transition:all 0.5s ease;
}
.lg-hs-image h3 {    
    text-align: center;
    width: 100%;
    color: #151515;
    font-size: 18px;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    font-weight: normal;
    text-transform: uppercase;
}
.lg-hs-image a, .lj-cta {
    color: #151515;
    padding: 7px 30px;
    width: auto;
    margin: 15px auto 10px;
    text-transform: uppercase;
    text-decoration: none;
    position: static;
    border: 1px solid #151515;
    display: inline-block;
    position: relative;
    z-index: 1;
}
.lg-hs-image a:hover, .lj-cta:hover {
    border-color: #ee1a98;
    color: #ee1a98;
}
.lj-hotspot-icon{width:26px;height:26px;position: absolute;right: 0;top: 0;border-radius: 50%;text-decoration: none;z-index: 8;/*border: 5px solid rgba(255,255,255,1);*/background: url('../img/hotspot.png') no-repeat;background-size:cover}
.lj-hotspot-icon.active{background: url('../img/hotspot-active.png') no-repeat;background-size: cover}
.lj-hotspot-icon:after {content: '';font-size: 23px;font-weight: bold;color: #fff;position: absolute;left: 0;
top: 50%;right: 0;text-align: center;transform: translateY(-56%);line-height: 1;}
.lj-hotspot-icon:before {content: "";position: absolute;left: 0;right: 0;top: -2px;bottom: 0;background: transparent;border: 2px solid #fff;z-index: -5;border-radius: 50%;transform: scale(1);animation: pulse .4s ease 1;opacity:0}


.lj-category-article> img{
    max-width: 70%;
}
.braedit .lj-category-article>img{
    max-width: 60%;
}
.lj-category-article > h3 {font-size: 32px;margin: 0;}
/*hotspot placement*/
.lj-y1-hs1>a{
    left: 53%;
    top: 45%;
}
.lj-y1-hs2>a{
    left: 70%;
    top: 62%;
}
.lj-y1-hs3>a{
    left: 51%;
    top: 85%;
}
.lj-y2-hs1>a {
    left: 18%;
    top: 61%;
}
.lj-y2-hs2>a{
    left: 49.5%;
    top: 33%;
}
.lj-y2-hs3>a{
    left: 58%;
    top: 59%;
}
.lj-y2-hs4>a{
    left: 26.2%;
    top: 33%;
}
.lj-y3-hs1>a{
    left: 29%;
    top: 61%;
}
.lj-y3-hs2>a{
    left: 46%;
    top: 70%;
}
.lj-y4-hs1>a{
    left: 31%;
    top: 66%;
}
.lj-y4-hs2>a{
    left: 45%;
    top: 90%;
}
.lj-y5-hs1>a{
    left: 22%;
    top: 74%;
}
.lj-y5-hs2>a{
    left: 57%;
    top: 32%;
}
.lj-y5-hs3>a{
    left: 50%;
    top: 76%;
}
.lj-y5-hs4>a{
    left: 15%;
    top: 53%; 
}
.lj-y6-hs1>a{
    left: 17%;
    top: 54%;
}
.lj-y6-hs2>a{
    left: 54%;
    top: 70%;
}
.lj-y6-hs3>a {
    left: 57%;
    top: 51%;
}
.lj-y6-hs4>a{
    left: 15%;
    top: 30%;
}
.lj-y7-hs1>a{
    left: 38%;
    top: 62%;
}
.lj-y8-hs1>a{
    left: 38%;
    top: 52%;
}
.lj-y8-hs2>a{
    left: 44%;
    top: 70%;
}
.lj-y9-hs1>a{
    left: 38%;
    top: 62%;
}
.lj-y9-hs2>a{
    left: 35%;
    top: 90%;
}
.lj-y10-hs1>a{
    left: 45%;
    top: 34%;
}
.lj-y10-hs2>a{
    left: 72%;
    top: 36%;
}
.lj-y11-hs1>a{
    left: 29%;
    top: 59%;
}
.lj-y11-hs2>a{
    left: 20%;
    top: 31%;
}
.lj-y11-hs3>a{
    left: 44%;
    top: 60%;
}
.lj-y11-hs4>a{
    left: 52%;
    top: 29%;
}
.lj-y12-hs1>a{
    left: 42%;
    top: 62%;
}
.lj-y12-hs2>a{
    left: 38%;
    top: 88%;
}



/** Nutty overwritten css **/
.lj-s1-hs1>a {
    left: 68%;
    top: 45%;
}

.lj-s1-hs2>a {
    left: 74%;
    top: 78%;
}
.lj-s2-hs1>a {
    left: 21%;
    top: 55%;
}
.lj-s2-hs3>a {
    left: 31%;
    top: 30%;
}
.lj-s3-hs2>a {
    left: 53%;
    top: 50%;
}
.lj-s3-hs1>a {
    left: 34%;
    top: 68%;
}
.lj-s4-hs2>a {
    left: 25%;
    top: 79%;
}
.lj-s4-hs1>a {
    left: 28%;
    top: 29%;
}
.lj-s5-hs1>a {
    left: 25%;
    top: 72%;
}
.lj-s5-hs2>a {
    left: 46%;
    top: 34%;
}
.lj-s6-hs1>a {
    left: 39%;
    top: 31%;
}
.lj-s6-hs2>a {
    left: 45%;
    top: 69%;
}
.lj-s7-hs1>a {
    left: 42%;
    top: 37%;
}
.lj-s7-hs2>a {
    left: 48%;
    top: 68%;
}
.lj-s8-hs1>a {
    left: 44%;
    top: 65%;
}
.lj-s8-hs2>a {
    left: 44%;
    top: 27%;
}
.lj-s8-hs3>a {
    left: 28%;
    top: 60%;
}
.lj-s9-hs1>a {
    left: 51%;
    top: 25%;
}
.lj-s9-hs2>a {
    left: 30.5%;
    top: 62%;
}
.lj-s10-hs1>a {
    left: 34%;
    top: 56%;
}
.lj-s10-hs2>a {
    left: 33%;
    top: 37%;
}
.lj-s11-hs1>a {
    left: 17%;
    top: 39%;
}
.lj-s11-hs2-a>a {
    left: 11%;
    top: 90%;
}
.lj-s11-hs2>a {
    left: 71%;
    top: 70%;
}
.lj-s12-hs1>a {
    left: 41%;
    top: 53%;
}
.lj-s12-hs2>a {
    left: 30%;
    top: 73%;
}
.lj-s13-hs1>a {
    left: 27%;
    top: 86%;
}
.lj-s14-hs1>a {
    left: 19%;
    top: 58%;
}
.lj-s14-hs2>a {
    left: 35%;
    top: 78%;
}
.lj-s15-hs1>a {
    left: 30%;
    top: 47%;
}
.lj-s15-hs2>a {
    left: 28%;
    top: 56%;
}
.lj-s15-hs2-a>a {
    left: 54.5%;
    top: 80%;
}
.lj-lcstyle-hs1>a {
    left: 41%;
    top: 38%;
}
.lj-lcstyle-hs2 > a {
    left: 78%;
    top: 27%;
}
.lj-lcstyle-hs3 > a {
    left: 74%;
    top: 59%;
}
.lj-t1-hs1>a {
    left: 52%;
    top: 66%;
}
.lj-t1-hs2>a {
    left: 67%;
    top: 91%;
}
.lj-t2-hs1>a {
    left: 46%;
    top: 53%;
}
.lj-t2-hs2>a {
    left: 48%;
    top: 75%;
}
.lj-t3-hs1>a {
    left: 51%;
    top: 40%;
}
.lj-t3-hs2>a {
    left: 65%;
    top: 85%;
}
.lj-t4-hs2>a {
    left: 42%;
    top: 53%;
}
.lj-t5-hs1>a {
    left: 26%;
    top: 46%;
}
.lj-t6-hs1>a {
    left: 44%;
    top: 40%;
}
.lj-t6-hs2>a {
    left: 26%;
    top: 46%;
}
.lj-t7-hs1>a {
    left: 42%;
    top: 48%;
}
.lj-t7-hs2>a {
    left: 56%;
    top: 82%;
}
.lj-lctravel-hs1>a {
    left: 44%;
    top: 20%;
}
.lj-lctravel-hs2>a {
    left: 66%;
    top: 26%;
}
.lj-lctravel-hs3>a {
    left: 64%;
    top: 41%;
}
.lj-lctravel-hs4>a {
    left: 86.5%;
    top: 43%;
}
.lj-lctravel-hs5>a {
    left: 62%;
    top: 75%;
}
.lj-lctravel-hs6>a {
    left: 87%;
    top: 68%;
}
.lj-lcyogi-hs1>a{
    left: 37%;
    top: 23%;
}
.lj-lcyogi-hs2>a{
    left: 65%;
    top: 24%;
}
.lj-lcyogi-hs3>a{
    left: 90%;
    top: 16%;
}
.lj-lcyogi-hs4>a{
    left: 37%;
    top: 51%;
}
.lj-lcyogi-hs5>a{
    left: 65%;
    top: 69%;
}
.lj-lcyogi-hs6>a{
    left: 81%;
    top: 48%;
}
.lj-c1-hs2>a {
    left: 70%;
    top: 43%;
}
.lj-c1-hs1>a {
    left: 57%;
    top: 67%;
}
.lj-c2-hs1>a {
    left: 31%;
    top: 61%;
}
.lj-c2-hs2>a {
    left: 27%;
    top: 77%;
}
.lj-c3-hs1>a {
    left: 27%;
    top: 33%;
}
.lj-c3-hs2>a {
    left: 12%;
    top: 83%;
}
.lj-c4-hs1>a {
    left: 19%;
    top: 37%;
}
.lj-c4-hs2>a {
    left: 25%;
    top: 64%;
}
.lj-c5-hs1>a {
    left: 40%;
    top: 73%;
}
.lj-c5-hs2>a {
    left: 56%;
    top: 42%;
}
.lj-c6-hs1>a {
    left: 42%;
    top: 68%;
}
.lj-c7-hs1>a {
    left: 44%;
    top: 34%;
}
.lj-c7-hs2>a {
    left: 55%;
    top: 60%;
}
.lj-c8-hs2>a {
    left: 49%;
    top: 72%;
}
.lj-c8-hs1>a {
    left: 31%;
    top: 27%;
}
.lj-lccardio-hs1>a {
    left: 36%;
    top: 50%;
}
.lj-lccardio-hs2>a {
    left: 56%;
    top: 49%;
}
.lj-lccardio-hs3>a {
    left: 61%;
    top: 63%;
}
.lj-lccardio-hs4>a {
    left: 78%;
    top: 45%;
}
.lj-lccardio-hs5>a {
    left: 81.5%;
    top: 60%;
}
.lj-b1-hs1>a {
    left: 79%;
    top: 52%;
}
.lj-b1-hs2>a {
    left: 79%;
    top: 80%;
}
.lj-b2-hs1>a {
    left: 75%;
    top: 44%;
}
.lj-b2-hs2>a {
    left: 55%;
    top: 65%;
}
.lj-b3-hs1>a {
    left: 64%;
    top: 67%;
}
.lj-b3-hs2>a {
    left: 68%;
    top: 44%;
}
.lj-b4-hs1>a {
    left: 72.5%;
    top: 40%;
}
.lj-lc6-hs5>a {
    left: 26%;
    top: 63%;
}
.lj-lc6-hs4>a {
    left: 31.5%;
    top: 58%;
}
.lj-lc6-hs3>a {
    left: 26%;
    top: 30%;
}
.lj-lc6-hs2>a {
    left: 74.5%;
    top: 58%;
}
.lj-lc6-hs1>a {
    left: 65%;
    top: 38%;
}
.lj-lcmama-hs1>a {
    left: 66%;
    top: 40%;
}
.lj-lcmama-hs2>a {
    left: 21%;
    top: 66%;
}
.lj-lcmama-hs3>a {
    left: 66%;
    top: 58%;
}
.lj-lc9-hs1>a {
    left: 14%;
    top: 49%;
}
.lj-lc9-hs4>a {
    left: 45%;
    top: 47%;
}
.lj-lc9-hs5>a {
    left: 79%;
    top: 63%;
}
.lj-lc11-hs1>a {
    left: 36%;
    top: 27%;
}
.lj-lc11-hs2>a {
    left: 49%;
    top: 59%;
}
.lj-lcshoe-hs2>a {
    left: 28%;
    top: 30%;
}
.lj-lcshoe-hs1>a {
    left: 20%;
    top: 83%;
}
.lj-lcshoe-hs3>a {
    left: 74%;
    top: 59%;
}
.lj-lc7-hs1>a {
    left: 64%;
    top: 44%;
}
.lj-lc5-hs1>a {
    left: 50%;
    top: 58%;
}
.lj-category-article.slide2{
    
}
.lj-category-article.slide3{
    top: 27%;    
}
.lj-category-article.slide4{
    left:36%;
    top:10%;
}
.lj-category-article.slide5{
    left:1%;
}
.lj-category-article.slide6{
    left: 61%;
    top:17%;
}
.lj-category-article.slide7{
    left:11%;
    top:16%;
}
.lj-category-article.slide8{
   top:65%; 
}
.lj-article-close {display: none}

/*.lj-category-article span{display: none;}*/

#frmMain{position: absolute;right: 0;top:10%;z-index: 999999;display:none;}
.wowbook-close{display: none;}
button[type=button] {min-height:24px; min-width:40px;box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    background: #222;
    background-image: linear-gradient(to bottom, #3c3c3c 0px, #222 100%);
    background-repeat: repeat-x;
    color: white;border:none;
}
.highlight { background-color:yellow; }
.emptyBlock1000 { height:auto; }
.emptyBlock2000 { height:auto; }
.current { background-color: #957F68 !important; color: #ffffff; }
.wowbook-control-find,.tableofcontent{    
    position: absolute;
    right: 0;
    top: 48px;
    z-index: 9999999;
}
.lj-toc{text-align: center;font-size: 26px;margin: 4% 0;}
.wowbook-toc{z-index: 9999999 !important;}
.wowbook-toc h1{font-size: 21px !important;}
.tableofcontent{
    right:48px;
}
@media (max-width:480px) {
#frmMain{top:2%;}
}